<div class="modal-overlay">
  <div class="modal-container">
    <span class="align-right">
      <img src="../../../assets/icone-fechar.png" (click)="close()" />
    </span>
    <span>
      <img src="../../../assets/logo-nome.png" alt="Logotipo" />
    </span>
    <h3>Recuperar senha</h3>
    <span class="form">
      <label for="email" class="label-left">Digite seu email:</label>
      <input class="input-form" type="text" id="email" />
    </span>
    <span class="align-right padding-60">
      <button>Enviar</button>
    </span>
  </div>
</div>
