.page {
  margin: 20px 0;
  width: 85%;
  float: right;
  display: flex;
  justify-content: center;
}

.page div {
  height: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.page div span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 20px;
  font-size: 10pt;
  color: #5D5D5D;
  height: 20px;
}

.page div span.selected {
  background-color: #5D5D5D;
  color: #ffffff;
}
