<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,200&display=swap');

.container {
  height: 100%;
}

.container__border {
  border: 2px solid black;
  height: 100%;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  gap: 35px; 
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: white;
  width: 50%;
  border-radius: 3px;
  background-color: #105965;
  font-family: 'Montserrat', sans-serif;
}

.container__filho__nova-senha {
  width: 30%;
}

.container__border__nome-doutor {
  height: 50px;
=======
div {
    width: 100%;
    height: 300px;
    background-color: red;
>>>>>>> fa3b61d2f1230accb0829c7b01245bc665f00e17
}