* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

div.container div.top {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

div {
  padding: 10px;
}