* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  margin: 10px 10px 10px 10px;
}
.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.top {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.bottom {
  display: grid;
  grid-template-rows: 1fr 3fr;
}