<div class="proximas-consultas">
  <h3>Próximas consultas agendadas</h3>
</div>
<div *ngFor="let consulta of consultas" class="consulta">
  <div class="data-horario dados-consulta">
    <div class="data">
      {{ consulta.date }}
    </div>
  <div class="horario">
      {{ consulta.startTime }}
  </div>
</div>
    <div class="medico dados-consulta">
      {{ consulta.doctor.person.name }}
    </div>
    <div class="acoes">
      <button routerLink="/medico/consulta">Visualizar consulta</button>
    </div>
  </div>

