<div class="proximas-consultas">
  <h3>Próximas consultas agendadas</h3>
</div>
<div *ngFor="let consulta of consultas" class="consulta">
  <div class="data-horario dados-consulta">
    <div class="data">
      {{ consulta.date | date:'dd/MM/yyyy' }}
    </div>
  <div class="horario">
      {{ consulta.startTime | date:'HH:mm' }}
  </div>
</div>
    <div class="medico dados-consulta">
      {{ consulta.doctor.person.name }}
    </div>
    <div class="acoes">
      <button (click)="openConsulta(consulta.patient.id)">Visualizar consulta</button>
    </div>
  </div>

