.principal {
  width: 85%;
  float: right;
}

.principal__titulo {
  margin-top: 2em;
  font-size: 1rem;
  padding: 1em;
  gap: 1em;
  color: #105965;
  background-color: #e9f5f6;
  display: flex;
  justify-content: center;
}

.principal__formulario {
  width: 60%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
}

.formulario__botao {
  background: #105965;
  border-radius: 5px;
  padding: 1em 2em;
  font-weight: 300;
  font-size: 14px;
  margin: 2em 18em 2em 0;
  float: right;
  border: none;
  color: white;
  cursor: pointer;
}

.ng-touched:not(form) {
  border-color: red;
  color: red;
}

.form {
  width: 100%;
  padding: 0 15em;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form div {
  display: grid;
  gap: 10px;
}

.form div.coluna-2 {
  grid-template-columns: 1fr 1fr;
}

.form div.coluna-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.form div span {
  display: flex;
  flex-direction: column;
}

.form div span input,
.form div span select {
  outline: 0;
  border: 0;
  border-bottom: 1px solid rgb(190, 190, 190);
  color: #6b6b6b;
  height: 40px;
  padding: 0 10px;
}

.titulo {
  margin: 20px 0;
  color: #105965;
  gap: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.cor-fundo {
  padding: 20px;
  background-color: #e9f5f6;
}
