<app-header></app-header>
<app-menu-lateral></app-menu-lateral>
<main class="principal">
  <h2 class="principal__titulo" *ngIf="isPatient()">
    <img src="../../../../assets/icone-cadastro.png" alt="Cadastrar paciente" />
    Cadastrar paciente
  </h2>
  <h2 class="principal__titulo" *ngIf="!isPatient()">
    <img src="../../../../assets/icone-cadastro.png" alt="Cadastrar paciente" />
    Cadastrar médico
  </h2>
  <h3 class="principal__subtitulo">
      <img
        src="../../../../assets/icone-dados-pessoais.png"
        alt="Dados pessoais"
      />
      Dados pessoais
  </h3>

    <!-- TODO: COMECEI AQUI -->

    <div class="form" [formGroup]="form">
      <div>
        <span>
          <input formControlName="name" placeholder="Nome completo" />
          <span
            class="erros"
            *ngIf="(nome?.invalid && nome?.touched) || nome?.dirty"
          >
            <span *ngIf="nome?.errors?.['required']">Gerou um erro</span>
          </span>
        </span>
      </div>
      <div class="coluna-2">
        <span>
          <input formControlName="motherName" placeholder="Nome da mãe"/>
          <span
            class="erros"
            *ngIf="(nome?.invalid && nome?.touched) || nome?.dirty"
          >
            <span *ngIf="nome?.errors?.['required']">Gerou um erro</span>
          </span>
        </span>
        <span>
          <input formControlName="person.fatherName" placeholder="Nome do pai"
          />
          <span
            class="erros"
            *ngIf="(nome?.invalid && nome?.touched) || nome?.dirty"
          >
            <span *ngIf="nome?.errors?.['required']">Gerou um erro</span>
          </span>
        </span>
      </div>

      <div class="coluna-3">
        <span>
          <input
            name="nome"
            id="nome"
            placeholder="Nome completo"
            ngModel
            required
            minlength="3"
            #nome="ngModel"
          />
          <span
            class="erros"
            *ngIf="(nome?.invalid && nome?.touched) || nome?.dirty"
          >
            <span *ngIf="nome?.errors?.['required']">Gerou um erro</span>
          </span>
        </span>
        <span>
          <input
            name="nome"
            id="nome"
            placeholder="Nome completo"
            ngModel
            required
            minlength="3"
            #nome="ngModel"
          />
          <span
            class="erros"
            *ngIf="(nome?.invalid && nome?.touched) || nome?.dirty"
          >
            <span *ngIf="nome?.errors?.['required']">Gerou um erro</span>
          </span>
        </span>
        <span>
          <input
            name="nome"
            id="nome"
            placeholder="Nome completo"
            ngModel
            required
            minlength="3"
            #nome="ngModel"
          />
          <span
            class="erros"
            *ngIf="(nome?.invalid && nome?.touched) || nome?.dirty"
          >
            <span *ngIf="nome?.errors?.['required']">Gerou um erro</span>
          </span>
        </span>
      </div>
    </div>

    <!-- TODO: TERMINEI AQUI -->

</main>
