<app-header></app-header>
<app-menu-lateral></app-menu-lateral>
<main class="principal">
  <h2 class="principal__titulo" *ngIf="isPatient()">
    <img src="../../../../assets/icone-cadastro.png" alt="Cadastrar paciente" />
    Cadastrar paciente
  </h2>
  <h2 class="principal__titulo" *ngIf="!isPatient()">
    <img src="../../../../assets/icone-cadastro.png" alt="Cadastrar paciente" />
    Cadastrar médico
  </h2>
  <h3 class="principal__subtitulo">
      <img
        src="../../../../assets/icone-dados-pessoais.png"
        alt="Dados pessoais"
      />
      Dados pessoais
  </h3>

    <!-- TODO: COMECEI AQUI -->

    <div class="form" [formGroup]="form">
      <div formGroupName="person">
        <div>
          <span>
            <input formControlName="name" placeholder="Nome completo" />
          </span>
        </div>
        <div>
          <span>
            <input formControlName="motherName" placeholder="Nome da mãe" />
          </span>
        </div>
        <div>
          <span>
            <input formControlName="fatherName" placeholder="Nome da pai" />
          </span>
        </div>
        <div class="coluna-2" formGroupName="person">
          <span>
            <input formControlName="motherName" placeholder="Nome da mãe"/>
          </span>
          <span>
            <input formControlName="fatherName" placeholder="Nome do pai" />
          </span>
        </div>
      </div>
    </div>

    <!-- TODO: TERMINEI AQUI -->

</main>
