<div class="main">
  <span class="width-10 align-center">
      <img src="../../../../assets/svg/pacient-perfil.svg" alt="document">
  </span>
  <div>
      <span>Ricardo</span>
      <span class="align-center">ricardo.teste@gmail.com</span>
      <span class="align-center">44944443333</span>
      <span class="align-center"><img src="../../../../assets/svg/ok.svg" alt="document"></span>
  </div>
  <span class="width-10 align-center" >
      <img src="../../../../assets/svg/paciente-edit.svg" alt="document">
      <img src="../../../../assets/svg/pacient-see.svg" alt="document">
      <!-- <img src="../../../../assets/svg/note-cancel.svg" alt="document"> -->
  </span>
</div>
