.logo-container {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 15%;
}

a {
  text-decoration: none;
  font-family: Verdana;
  font-size: 12px;
  color: #035466;
  font-weight: bold;
}

a:hover {
  color: #005599;
}

.label-left {
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: Verdana;
  color: #035466;
}

.form-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-round {
  margin-top: 50px;
  background-color: #105965;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5% 20%;
  cursor: pointer;
  width: 200px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
}

.input-round {
  border-radius: 5px;
  border-color: rgb(122, 122, 122);
  border-width: 1px;
  padding: 5%;
  margin: 5px;
  width: 200%;
}

.hidden-input {
  display: none;
}

label {
  margin-bottom: 5px;
  font-family: Verdana;
  color: #035466;
  font-size: 14px;
}

@media (max-width: 576px) {
  .input-round {
    width: 100%;
  }
}
