<div class="main">
  <div class="container">
    <div class="login">
      <div>
        <img class="logo" src="../../../assets/Logo-icon.svg" alt="Logotipo" />
      </div>
      <div>
        <form [formGroup]="form">
          <span>
            <label for="cpf" class="label-left">CPF:</label>
            <input class="input-form" type="cpf" formControlName="cpf" />
          </span>
          <span>
            <label for="senha" class="label-left">Senha:</label>
            <input
              class="input-form"
              type="password"
              formControlName="password"
            />
          </span>
        </form>
      </div>
      <div class="align-right">
        <button
          [disabled]="!form.valid"
          [ngClass]="formIsValid()"
          (click)="submit()"
        >
          Entrar
        </button>
      </div>
      <div>
        <h3 (click)="toogle()">Esqueci minha senha</h3>
      </div>
    </div>
  </div>
</div>
