<div class="logo-container">
  <img class="logo" src="../../../assets/Logo-icon.svg" alt="Logotipo" />
</div>

<form class="form-container">
  <div class="input-container">
    <label for="cpf">CPF: </label>
    <input type="cpf" id="cpf" class="input-round" />
  </div>
  <div class="input-container">
    <label for="senha">Senha</label>
    <input type="password" id="senha" class="input-round" />
  </div>
  <button (click)="submit()" class="button-round">Entrar</button>
  <div>
    <a routerLink="/header">Esqueci minha senha</a>
  </div>
</form>
