<div class="logo-container">
  <img class="logo" src="../../../assets/Logo-icon.svg" alt="Logotipo" />
</div>

<form class="form-container">
  <div class="input-container">
     <input type="none" class="input-round hidden-input" />
  </div>
  <div class="input-container">
    <label for="cpf" class="label-left">CPF: </label>
    <input type="cpf" id="cpf" class="input-round" placeholder="Digite seu CPF" />
  </div>
  <div class="input-container">
    <label for="senha" class="label-left">Senha: </label>
    <input type="password" id="senha" class="input-round" placeholder="Digite sua senha"/>
  </div>
  <div>
  <button (click)="submit()" class="button-round">Entrar</button>
</div>
  <div>
    <a routerLink="/header">Esqueci minha senha</a>
  </div>
</form>
