<app-header></app-header>
<app-menu-lateral></app-menu-lateral>
<div class="content">
  <div class="header">
    <span class="span-input">
      <input type="text" placeholder="Pesquisar" />
      <img src="../../../assets/svg/search.svg" />
    </span>
    <span>
      <button>
        <img src="../../../assets/svg/document-more.svg" />Novo agendamento
      </button>
    </span>
  </div>
  <div class="patient-data" *ngFor="let item of person">
    <span class="left">
      <img src="../../../../assets/icone-agenda.svg" alt="" />
      <span class="patient-name">
      {{ item.person.name }}
     </span>
    </span>
    <span class="right">
      <img src="../../../../assets/svg/icone-edit.svg" alt="Editar paciente" />
      <img src="../../../../assets/svg/pacient-see.svg" alt="Visualizar detalhes do paciente" (click)="toogle(item.id)"/>
    </span>
  </div>

<app-footer></app-footer>
</div>
