<div class="container-pai">
  <div class="container-filho">
    <div class="container-neto grid-2">
      <span>Dr. Carlos Alves</span>
      <span>Sala 12</span>
    </div>
    <div class="container-neto grid-1">
      <span class="span-diferenciado">Fila de Espera:
        <br><br>05 pessoas
      </span>
    </div>
  </div>
  <div class="container-filho">
    <div class="container-neto grid-2">
      <span>Dr. Thiago Bussola</span>
      <span>Sala 04</span>
    </div>
    <div class="container-neto grid-1">
      <span class="span-diferenciado">Fila de Espera:
        <br><br>07 pessoas
      </span>
    </div>
  </div>
  
</div>
