@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,200&display=swap');


.container-pai {
  display: flex;
  gap: 10px;
}

.container-filho {
  width: calc(100% - 20px);
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  border-radius: 5px;
  padding: 10px;
}

.container-neto {
  width: calc(100% - 20px);
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 10px;
}

.grid-2 {
  grid-template-rows: 1fr 1fr;
}

.grid-1 {
  grid-template-rows: 1fr;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  color: white;
  width: calc(100% - 20px);
  border-radius: 3px;
  background-color: #105965;
  font-family: 'Montserrat', sans-serif;
}