<app-header></app-header>
<app-menu-lateral></app-menu-lateral>
<div class="content">
  <div class="header">
    <span class="span-input">
      <input type="text" placeholder="Pesquisar" />
      <img src="../../../assets/svg/search.svg" />
    </span>
    <span>
      <button>
        <img src="../../../assets/svg/document-more.svg" />Novo agendamento
      </button>
    </span>
  </div>
  <div class="header-list">
    <span class="left"
      ><img src="../../../assets/svg/user-blue.svg" alt="" />Paciente</span
    >
    <span
      ><img src="../../../assets/svg/este-blue.svg" alt="" />Especialidade</span
    >
    <span><img src="../../../assets/svg/calendar-blue.svg" alt="" />Data</span>
    <span><img src="../../../assets/svg/eye-blue.svg" alt="" />Status</span>
  </div>
  <div class="content-main" *ngFor="let item of result; let i = index">
    <app-agendamento-item [appointment]="item"></app-agendamento-item>
  </div>
  <div class="page">
    <div>
      <span><img src="../../../assets/svg/arrow-left.svg" alt="" /></span>
      <span class="selected">1</span>
      <span>2</span>
      <span>3</span>
      <span>4</span>
      <span>5</span>
      <span>6</span>
      <span><img src="../../../assets/svg/arrow-right.svg" alt="" /></span>
    </div>
  </div>
</div>
