<div class="modal-overlay">
  <div class="modal-container">
    <span class="align-right">
      <img src="../../../assets/icone-fechar.png" (click)="close()" />
    </span>

    <div class="titulo cor-fundo">
      <img src="../../../../assets/icone-cadastro.png" alt="Dados do paciente" />
      Dados do paciente
    </div>

    <div class="content">
    <div class="coluna-2">
      <span class="patient-name">
        Nome 1
      </span>
      <span class="patient-parents">
        Pais
      </span>
    </div>
    <div class="coluna-3">
      <span class="patient-birthday">
        11/11/1993
      </span>
      <span class="patient-city">
        Curitiba
      </span>
      <span class="patient-uf">
        PR
      </span>
    </div>
    <div class="coluna-2">
      <span class="patient-gender">
        Feminino
      </span>
      <span class="patient-phone">
        85 98476-0000
      </span>
    </div>
    <div class="coluna-2">
      <span class="patient-cpf">
        CPF: 000.000.000-00
      </span>
      <span class="patient-susCode">
        SUS: 12345678912345
      </span>
    </div>
  </div>

    <div class="titulo">
      <div>
        <img src="../../../../assets/svg/note-user.svg" alt="Endereco" />
        <span>Endereço</span>
      </div>
    </div>
   <span class="patient-address">
    Um endereço qualquer
  </span>

<button>Sair</button>
<button>Confirmar</button>
