<div class="modal-overlay">
  <div class="modal-container">
    <div class="titulo cor-fundo">
      <img src="../../../../assets/icone-cadastro.png" alt="Dados do paciente" />
      Dados do paciente
    </div>

    <div class="titulo">
      <img src="../../../../assets/svg/paciente-dados-pessoais.svg" alt="Dados pessoais" />
      Dados pessoais
    </div>

    <div class="content">
    <div class="coluna-2">
      <span class="patient-name"> Nome:
        {{ patientData?.person?.name }}
      </span>
      <span class="patient-parents">
          <div class="parents">
          Filiação:
          <div class="names">
         {{ patientData?.person?.motherName }}
         <div>
         {{ patientData?.person?.fatherName }}
        </div>
        </div>
          </div>
      </span>
    </div>
    <div class="coluna-3">
      <span class="patient-birthday">Data de nascimento:
        {{ patientData?.person?.birthDate }}
      </span>
      <span class="patient-city"> Cidade:
        {{ patientData?.person?.birthCity }}
      </span>
      <span class="patient-uf"> UF:
        {{ patientData?.person?.birthUf }}
      </span>
    </div>
    <div class="coluna-2">
      <span class="patient-gender"> Gênero:
        {{ patientData?.person?.gender }}
      </span>
      <span class="patient-phone"> Telefone:
        ({{ patientData?.person?.ddd }}) {{ patientData?.person?.phone }}
      </span>
    </div>
    <div class="coluna-2">
      <span class="patient-cpf"> CPF:
        {{ patientData?.person?.cpf }}
      </span>
      <span class="patient-susCode"> SUS:
        {{ patientData?.susCode }}
      </span>
    </div>
  </div>

    <div class="titulo">
      <div>
        <img src="../../../../assets/svg/note-user.svg" alt="Endereco" />
        <span>Endereço</span>
      </div>
    </div>
   <span class="patient-address">
     {{ patientData?.person?.address.streetAddress }}
     {{ patientData?.person?.address?.streetAddressII }}
     {{ patientData?.person?.address.number }}
     {{ patientData?.person?.address.district }}
     {{ patientData?.person?.address.city }}
     {{ patientData?.person?.address.uf }}
     {{ patientData?.person?.address.zipCode }}
  </span>
  <div class="titulo cor-fundo">
    {{ patientData?.person?.ubsId }}
  </div>

<button class="button button-cancel" (click)="close()"><img src="../../../../assets/svg/cancel.svg" alt="Sair" />Sair</button>
