h3 {
  font-size: 20px;
  color: #105050;
  text-align: center;
  margin: 40px 0 10px 0;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal-container {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px #000000;
  width: 100%;
  max-width: 60%;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.logotipo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logotipo {
  max-width: 50%;
  max-height: 50%;
}

.modal-body {
  padding: 40px;
 }

.modal-input {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 10px;
}

.modal-footer {
  text-align: right;
  padding: 10px 20px;
  }

.modal-button {
  background: #105050;
  color: #fff;
  width: 30%;
  padding: 20px 40px;
  border: 0.2 solid #105050;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

.close {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 100px;
}

.close-button {
  width: 80%
}
