<app-header></app-header>
<app-menu-lateral></app-menu-lateral>
<div class="main">
  <div class="titulo">
    <h2>CADASTRO DE NOVO USUÁRIO</h2>
  </div>
  <div class="botoes">
    <button class="btn-paciente" routerLink="/cadastrarPaciente">
      <img src="../../../../assets/svg/user-green.svg" alt="Paciente" />Paciente
    </button>
    <button class="btn-medico" routerLink="/cadastrarMedico">
      <img src="../../../../assets/svg/doctor-green.svg" alt="Médico" />Médico
    </button>
  </div>
</div>
