.titulo {
  margin: 2rem 0 0 15rem;
  text-align: center; /* Alinha o texto no centro */
  color: #105050;
}

.botoes {
  margin: 10rem 0 0 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botoes button {
  background-color: #23A2AF;
  font-size: 1.4em;
  padding: 1rem 10rem;
  margin: 0 1rem;
  border-radius: 5px;
}

.botoes img {
  margin: 0 1rem 0 0;
}

