.main {
  width: 85%;
  float: right;
}

.titulo {
  padding: 30px;
  text-align: center;
  color: #105050;
}

.botoes {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.botoes button {
  border: 1px solid #bbbbbb;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 200px;
  height: 50px;
  color: #054955;
  font-size: 12pt;
  border-radius: 5px;
  transition: 0.5s;
}

.botoes button:hover {
  cursor: pointer;
  border: 1px solid #ffffff;
  background-color: #23a2af;
}
