<div class="sidebar">
  <div class="menu-item">
    <img class="menu-icone"src="../../../assets/icone-casa.png" alt="Home">
   <span>
    Home</span>
  </div>
  <div class="menu-item">
    <img class="menu-icone" src="../../../assets/icone-calendário.png" alt="Agendamentos">
   <span>
     Agendamentos</span>
  </div>
  <div class="menu-item">
    <div class="menu-icone-container">
    <img class="menu-icone" src="../../../assets/icone-estetoscópio.png" alt="Consultas">
  </div>
  <span>
        Consultas</span>
  </div>
  <div class="menu-item">
    <div class="menu-icone-container">

    <img class="menu-icone" src="../../../assets/icone-exame.png" alt="Exames">
    </div>
    <span>
          Exames</span>
  </div>
</div>
