<div class="sidebar">
  <div class="menu-item">
      <img class="menu-icone"src="../../../assets/icone-casa.png" alt="Home">
      <span>Home</span>
  </div>
  <div class="menu-item">
      <img class="menu-icone" src="../../../assets/icone-calendário.png" alt="Calendário">
      <span>Agendamentos</span>
  </div>
  <div class="menu-item">
    <img class="menu-icone" src="../../../assets/icone-estetoscópio.png" alt="Calendário">
    <span>Consultas</span>
  </div>
  <div class="menu-item">
    <img class="menu-icone" src="../../../assets/icone-exame.png" alt="Calendário">
    <span>Exames</span>
  </div>
</div>
