<div class="sidebar">
  <div class="menu-item">
    <span>
      <img class="menu-icone" src="../../../assets/icone-casa.png" alt="Home" routerLink="/medico"/>
      Home</span
    >
  </div>
  <div class="menu-item" *ngIf="isAdmin()" routerLink="/administrador">
    <span>
      <img
        class="menu-icone"
        src="../../../assets/icone-cadastro.png"
        alt="Cadastro"
      />
      Cadastro
    </span>
  </div>
  <div class="menu-item" routerLink="/agendamento">
    <span>
      <img
        class="menu-icone"
        src="../../../assets/icone-calendário.png"
        alt="Agendamentos"
      />
      Agendamentos
    </span>
  </div>
  <div class="menu-item" routerLink="/medico">
    <span>
      <img
        class="menu-icone"
        src="../../../assets/icone-estetoscópio.png"
        alt="Consultas"
      />
      Consultas
    </span>
  </div>
  <div class="menu-item">
    <span>
      <img
        class="menu-icone"
        src="../../../assets/icone-exame.png"
        alt="Exames"
      />
      Exames
    </span>
  </div>
</div>
