body {
  margin: 0;
  padding: 0;
}

.sidebar {
  position: absolute;
  padding: 1em;
  gap: 5px;
  width: auto;
  height: 70%;
  background: #E9F5F6;
  color: #054955;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-right-radius: 50px;
}

.menu-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  transition: 0.3s;
  cursor: pointer;
}

.menu-item .menu-icone {
  font-size: 1.5em;
  width: 1em;
  height: auto;
}

.menu-item span {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.menu-item:hover {
  border-radius: 5px;
  background: #23A2AF;
  cursor: pointer;
}

@media (max-width: 950px) {
  .sidebar {
    width: 100%;
    height: auto;
  }

  .menu-item {
    justify-content: flex-start;
    padding: 1em 0.5em;
  }

  .menu-item .menu-icone {
    font-size: 1.2em;
  }

  .menu-item span {
    gap: 10px;
  }

  .menu-item:hover {
    border-radius: 0;
  }
}
